.html, body{
    font-family: sans-serif;
    height: 100%;
}

.contentMain{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 25%;
    height: 20%;
}

.content{
    border: 1px black solid;
    height: 32%;
    margin: 2px;
    background-color: aqua;
}