.headline{
    height: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 50px;
}

.interface{
    margin: 100px;
    margin-bottom: 0px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.image{
    height: 300px;
    width: 300px;
}

img{
    height: 200px;
}

#endScreen{
    width: 1536px;
    background-color: orange;
    position: absolute;
    top: 0;
    bottom: 0;
    
}

#endScreen{
    display: flex;
}

#result{
    position: absolute;
    left: 50%;
    top: 20%;
    font: 2em arial bold;
    
}

#playerChoise{
    position: absolute;
    left: var(--distanceFromSideAtResult);
    top: var(--distanceFromTopAtResult);
}

#comChoise{
    position: absolute;
    right: var(--distanceFromSideAtResult);
    top: var(--distanceFromTopAtResult);
}

#main{
    --distanceFromSideAtResult: 20%;
    --distanceFromTopAtResult: 40%;
}