html, body{
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterFunc{
  position: absolute;
  top: 50px;
  right: 50px;
}

.counter{
  position: absolute;
  top: 50px;
  left: 50px;
}

.candidates{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}